.skeleton-loader {
  padding: 50px;
}

.skeleton-heading {
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  background: #e0e0e0;
  border-radius: 4px;
  animation: skeleton-loading 1.5s infinite;
}

.skeleton-table {
  display: grid;
  row-gap: 10px;
}

.skeleton-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Adjust based on the number of columns */
  column-gap: 10px;
}

.skeleton-cell {
  height: 50px;
  background: #e0e0e0;
  border-radius: 4px;
  animation: skeleton-loading 1.5s infinite;
}

/* Shimmer effect */
@keyframes skeleton-loading {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}

.skeleton-loader, .skeleton-heading, .skeleton-cell {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
}

td.comment-cell {
  word-wrap: break-word;   
  word-break: break-word;  
  max-width: 350px;        
  white-space: normal;     
  overflow-wrap: break-word;
}

.highlight {
    color: #cc0000; 
    font-weight: bold; 
  }
  
.review-list {
    padding: 1px;
  }
  
  .review-list h1 {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  /* Toggle slider style */
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    left: 4px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #4caf50;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  