/* Container holding the login form */
.password-input {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust this value to control the distance from the right edge */
  transform: translateY(-50%);
  cursor: pointer;
}

.login-container {
  display: flex;
  padding: 15px;
  height: 100vh;
  width: 80%;
}
.forms {
  max-width: 400px; /* Adjust as needed */
  margin: 10px auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  line-height: 10px;
  height: auto;
padding-bottom: 20px;
}

.form-wrapper {
  flex: 1;
  padding: 2px;
}
.tyrecentre-info {
  padding: 2px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: #f0f2f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 50%;
}
.service-description {
  font-weight: bold;
  font-style: italic;
  color: #333;
  text-transform: capitalize; /* Capitalize the text */
  border-radius: 5px; /* Add border radius */
  background-color: #f0f0f0; /* Set background color */

  /* Add any other styles you need */
}

.tyrecentre-info p {
  font-size: 34px; /* Adjust font size as needed */
  margin-bottom: 20px; /* Add some bottom margin */
  color: #0056b3;
  padding: 10px;

  line-height: 1.5; /* Adjust line height for better readability */
  letter-spacing: 1px; /* Add some letter spacing */
}
.tyrecentre-info img {
  max-width: 300px;
  margin: 0 auto; /* Center the image */
}

/* Logo */
.tyre-logo {
  display: block;
  margin: 20px;
  max-width: 50%;
}

/* Form header */
h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #0e0bd7;
}

/* Form inputs */
.form-control {
  display: block;
  width: 80%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #371d1d;
  border-radius: 8px;
  background-color: #f0f2f5;
  box-sizing: border-box;
  font-size: 16px;
}

/* Submit button */
.btn-primary {
  width: 80%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* New user signup link */
.new-user-signup {
  text-align: 20px;
  margin-top: 20px;
  font-size: 16px;
}

.new-user-signup a {
  color: #007bff;
  text-decoration: none;
}

.new-user-signup a:hover {
  text-decoration: underline;
}

/* Home link */
.home-link {
  text-align: right;
  margin-top: 20px;
  font-size: 16px;
}

.home-link a {
  color: #007bff;
  text-decoration: none;
}

.home-link a:hover {
  text-decoration: underline;
}

/* Checkbox */
.custom-control-input {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 10px; /* Adjust as needed */
}

/* Checkbox label */
.custom-control-label {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 20px;
  cursor: pointer;
  padding-left: 5px; /* Add spacing between checkbox and label */
}
/* @media screen and (max-width: 768px) {
  .form-wrapper {
    width: 100vw;
    padding: 0;
    margin: 0;
  }
  .tyrecentre-info {
    display: none !important;
    visibility: hidden;
  }
  .login-container {
    padding: 0; 
    margin: 0; 
  }
} */
