.order-list-container {
    width: 100%;
    padding-top: 20px; /* Add padding to create space */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .order-details {
    width: 50%;
  }
  
  @media screen and (max-width: 768px) {
    .order-details {
      width: 80%;
    }
  }
  
  .order-details table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .order-details th,
  .order-details td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .order-details th {
    background-color: #134274;
    color: #fff;
  }
  
  .order-details tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .order-details tbody tr:hover {
    background-color: #f2f2f2;
  }
  
  .order-details th:last-child,
  .order-details td:last-child {
    border-right: none;
  }
  